# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Ant specific
dist/
build/

# NetBeans specific
core
*/nbproject/private

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# General swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lockspecific

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
